In [5]:
import pandas as pd

In [6]:
dataset=pd.read_csv("Real estate.csv")

In [7]:
dataset.head()s

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  414 non-null    float64
 4   X4 number of convenience stores         414 non-null    int64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [9]:
import numpy as np
print("max range of each value \n",np.ptp(dataset,axis=0))

max range of each value
 No                                         413.00000
X1 transaction date                          0.91600
X2 house age                                43.80000
X3 distance to the nearest MRT station    6464.63816
X4 number of convenience stores             10.00000
X5 latitude                                  0.08252
X6 longitude                                 0.09274
Y house price of unit area                 109.90000
dtype: float64

In [20]:
x=dataset.drop('Y house price of unit area',axis=1)
y=dataset[['Y house price of unit area']]

In [ ]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.6)

In [27]:
x_train.shape

(248, 7)

In [28]:
y_train.shape

(248, 1)

In [29]:
from sklearn.preprocessing import StandardScaler

In [52]:
# scalar=StandardScaler()
# x_norm=pd.DataFrame(scalar.fit_transform(x_train),columns=x_train.columns)
# print(np.ptp(x_norm,axis=0))

No                                        3.441704
X1 transaction date                       3.211694
X2 house age                              3.829836
X3 distance to the nearest MRT station    4.813127
X4 number of convenience stores           3.375415
X5 latitude                               6.469963
X6 longitude                              5.754983
dtype: float64

In [53]:
from sklearn.linear_model import LinearRegression

In [64]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [65]:
y_pred = model.predict(x_test)

In [66]:
from sklearn import metrics

In [67]:
MAE= metrics.mean_absolute_error(y_test, y_pred)
MSE=metrics.mean_squared_error(y_test, y_pred)
RMSE= np.sqrt(MSE)

In [68]:
MAE

6.634775485558852